@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

:root {
    --light-gray: hsl(204, 43%, 93%);
    --cyan: hsl(179, 62%, 43%);
    --off-cyan: hsla(179, 62%, 43%, 0.699);
    --bright-yellow: hsl(71, 73%, 54%);
    --grayish-blue: hsl(218, 22%, 67%);
}
body{
    background-color: var(--light-gray);
    height: 100vh;
    padding: 5rem 2rem;
}

.joincommunity{
    font-weight: 700;
    color: var(--cyan);
}
.day30{
}
#box2{
    background-color: var(--cyan);
}
#box3{
    background-color: var(--off-cyan);
}
@media screen and (min-width:600px) {
    body{
        max-width: 800px;
        margin: 0 auto;
    }
    #box-container{
        display: grid;
        font-family: Karla,sans-serif;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 150px;
    }
    #box1{
        grid-column: 1/3;
    } 
    #box2{
        
    }
    #box3{
    
    }
}
